In [ ]:
df.loc[df['type'] == 'N']

In [ ]:
unicodedata.normalize('NFKC', '7778\xa0zł/m²')

int(float('579837.13'))

In [ ]:
df.replace({'a' : { 'Medium' : 2, 'Small' : 1, 'High' : 3 }})

In [ ]:
TERYT
https://eteryt.stat.gov.pl/eTeryt/rejestr_teryt/aktualnosci/aktualnosci.aspx

In [ ]:
import pandas as pd
df = pd.DataFrame

In [ ]:
df2.loc[882,'where']
df.to_csv('./out.csv',sep=';')